<aside >
  <%= render template: 'budgets/index' %>
</aside>
<div>
  <h2>Criar nova linha</h2>
</div>
<div>
  <%= render partial: 'shared/budgets/form', locals: { budget: @budget } %>
</div><br>
 <div>
    <%= link_to 'Voltar', current_user.transporter %>
</div>
