<div>
  <% if current_user.admin? %>
  <div>
    <h2><%= link_to 'Transportadoras', transporters_path %></h2>
    <hr>
  </div>
  <div>
    <h2>Consultar orçamentos</h2>
  </div>
  <div>
    <%= render partial: 'shared/search/quotes' %>
  </div>
  <% else %>
  <h3><%= link_to @transporter.brand_name, @transporter %></h3>

  <div>
    <%= link_to 'Veículos', vehicles_path %>
  </div>
  <% end %>
</div>
