<section>
  <h2>Orçamentos disponíveis:</h2>

  <div>
    <table>
      <thead>
        <tr>
          <th>Transportadora</th>
          <th>Preço</th>
          <th>Prazo</th>
        </tr>
      </thead>
      <tbody>
        <% @transporters.each_with_index do |transporter, index| %>
        <tr>
          <td><%= transporter.brand_name %></td>
          <td><%= number_to_currency(@prices[index]) %></td>
          <td><%= @deadlines[index].period %> dia(s)</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div><br>
  <div>
    <%= link_to 'Voltar', user_root_path %>
  </div>
</section>
